* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #f2f2f2;
  }

  .top-bar {
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  p.one {
    border-right-style: solid;
    border-right-width: 5px 5px; 
    border-right-color: rgb(28, 27, 27);
  }

  .logo {
    height: 50px;
  }
  
  .win {
    font-family: "Trirong", serif;
    font-size: 24px;
    font-weight: bold;
    color: #0047ba;
  }
  
  .pass {
    font-family: "Trirong", serif;
    color: red;
  }

  nav {
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
    gap: 40px;
  }

  nav a {
    color: red;
    text-decoration: none;
    font-weight: 500;
  }
  
  .background {
    background-image: url(img_win.jpeg); 
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
  }
  
  .overlay {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .overlay h1 {
    color: #0012a9;
    font-size: 58px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .overlay p {
    color: red;
    font-size: 38px;
    font-weight: bold;
  }

  /* Photobooh css */
  .Camera{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px auto;
  }
  
  .Camera h1{
    font-size: 60px;
    /* color: */
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

  .Camera h4{
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    font-family: Verdana;
  }

  button{
    padding: 13px;
    cursor: pointer;
    background-color: #4281e7;
    color: #fff;
    font-size: 22px;
    border-radius: 12px;
  }
  
  button:hover {
    background-color: #1652b3;
  }
  .admin-title {
    color: red;
    padding: 20px;
    font-size: 28px;
  }
  
  .search-box {
    padding: 0 20px 20px 20px;
  }

  .search-button {
    padding: 5px 5px;
    background-color: hsl(195, 3%, 53%);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: small;

  }

  .search-button:hover {
     background-color: hsl(198, 53%, 78%);
  }
  
  input[type="text"] {
    padding: 8px;
    border-radius: 10px;
    border: none;
    width: 200px;
  }
  
  .table-container {
    padding: 0 20px 40px 20px; 
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #aaa;
    color: black;
    table-layout: fixed; 
}

th, td {
    padding: 10px; 
    text-align: center;
    border-bottom: 2px solid #ddd;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #e4eaf3;
    font-weight: bold;
}

th, td {
    width: 16.66%; 
}

  .edit-button {
    position: absolute;
    top: -12px;
    right: 10px;
    background-color: hsl(195, 3%, 53%);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 4px 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
  }

  .edit-button:hover {
     background-color: hsl(198, 53%, 78%);
  }

  .import-button {
    position: absolute;
    top: -12px;
    left: 200px;
    padding: 4px 8px;
    background-color: hsl(195, 3%, 53%);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: auto;
    font-size: large;

  .import-button:hover {
     background-color: hsl(198, 53%, 78%);
  }

    body {
    background: url("/static/mmu_bg_image.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #007bff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(255, 255, 255);
    width: 300px;
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: rgb(255, 84, 84);
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0056b3;
}
}

.import-button:hover {
    background-color: hsl(198, 53%, 78%);
}

.email-button {
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: hsl(195, 3%, 53%);
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.email-button:hover {
   background-color: hsl(198, 53%, 78%);
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px 32px;
}

.booth-desc {
  color: #0047ba;
  font-style: italic;
  font-weight: bold;
}

h2 {
  color: red;
  padding-bottom: 8px;
  margin-top: 32px;
  font-weight: bolder;
}

h3 {
  color: #0012a9;
  margin-top: 24px;
}

.checklist {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 32px;
}

.checklist h3 {
  margin-top: 0;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

input[type="checkbox"] {
  margin-right: 16px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #666;
}
.content {
  background-color: #2d2d2d;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
}

.contact-info {
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}

a {
  color: #00bfff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.blue-container {
  background-color: hwb(211 18% 74%); 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.register-button {
  background-color: #d32f2f;
  color: white;
  padding: 12px 20px;
  text-align: center;
  align-items: center;
  display: block;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  width: 80%;
}

.register-button:hover {
  background-color: #b71c1c;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 20px 0;
}

.header {
  background: linear-gradient(to right, #004080, #00bfff);
  text-align: center;
}

.header img {
  width: 1000px;
  max-width: 100%;
  height: auto;
}

section {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}
.user-icon {
  position: relative;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-section {
  margin: 40px auto;
}

.profile-section h2 {
 padding-left: 50px;
 font-weight: bolder;
 font-size: 28px;
 color: red;
}

.avatar {
  text-align: center;
  margin: 30px 0;
}
.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

.profile-table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  background-color: #bdbaba;
}

.profile-table td {
  padding: 15px;
  border: 1px solid #959191;
}

.profile-table td.subject {
  font-weight: bold;
  background-color: #b3b1b1;
  width: 30%;
  border-right: 2px solid #888;
  text-align: center;
}

.logout-btn {
  padding: 10px 20px;
  background-color: hsl(0, 0%, 41%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #a59e9e;
}

.btn {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bolder;
}

.btn-primary {
  background-color: hsl(195, 3%, 53%);
  color: white;
}

.btn-primary:hover {
  background-color: hsl(198, 53%, 78%);
}

