<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WINpass</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
      <div class="top-bar">
        <div class="logo-area">
          <p class="one"> <img src="img_mmu.png" alt="MMU Logo" class="logo"/> </p> 
          <span class="win">WIN<span class="pass">pass</span></span>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">Start Here</a></li>
          <li><a href="#">Student Profile</a></li>
          <li><a href="#">Booth Information</a></li>
          <li><a href="#">Digital Ticket View</a></li>
        </ul>
      </nav>
    </header>