<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ADMIN PAGE</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
    <header>
     <div class="top-bar">
       <div class="logo-area">
         <img src="{{ url_for('static', filename='img/img_mmu.png') }}" alt="MMU Logo" class="logo"/>
         <span class="win">WIN<span class="pass">pass</span></span>
       </div>
     </div>
     <nav>
       <ul>
           <li><a href="{{ url_for('admin_ui') }}">Home</a></li>
         <li><a href="{{ url_for('booth_info') }}">Booth Information</a></li>
         <li><a href="{{ url_for('face_verification') }}">Face Verification</a></li>
       </ul>
     </nav>
   </header>
   
   <main>
     <h2 class="admin-title">ADMIN PAGE</h2>
     <div class="search-box">
        <label for="search">Search:</label>
        <input type="text" id="search"/>
      </div>
      <!-- figure this out once you have the flask running, and needs alya's part. -->

      