<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photobooth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
    <header>
        <div class="top-bar">
          <div class="logo-area">
            <img src="{{ url_for('static', filename='img_mmu.png') }}" alt="MMU Logo" class="logo"/>
            <span class="win">WIN<span class="pass">pass</span></span>
          </div>
        </div>
        <nav>
          <ul>
          <li><a href="{{ url_for('homepage') }}">Start Here</a></li>
          <li><a href="{{ url_for('student_profile') }}">Student Profile</a></li>
          <li><a href="{{ url_for('booth_info') }}">Booth Information</a></li>
          <li><a href="{{ url_for('digital_ticket') }}">Digital Ticket View</a></li>
          <li><a href="{{ url_for('photobooth_page') }}">Photobooth</a></li>
          </ul>
        </nav>
      </header>

      <div class="container">
        <h1>Post a Picture !</h1>
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
            <input type="file" name="image" required><br>
            <input type="text" name="caption" placeholder="Write a caption..." required><br>
            <button type="submit">Post</button>
        </form>

        <hr>
        <h2>Photos</h2>
        {% for post in posts %}
            <div class="post">
                <img src="{{ url_for('static', filename='uploads/' ~ post[1]) }}" alt="Image">
                <p>{{ post[2] }}</p>
                <small>{{ post[3] }}</small>
            </div>
        {% endfor %}
    </div>

</body>
</html>