<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>March Intake 2025 Welcoming Day</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <body>
  <div class="header">
    <img src="{{ url_for('static', filename='img/img_winheader.png') }}" alt="WIN header">
  </div>
  
  <div class="content">
    <h2>MARCH INTAKE 2025 WELCOMING DAY</h2><br>
     <h4>When</h4> <p>Tuesday, 15 March 2026 at 9:00 AM</p> <hr>
     <h4>Where</h4> <p>Dewan Tun Chancellor, Multimedia University, 63000 Cyberjaya, Selangor</p> <hr>
     <p class="contact-info"><strong>Contact Us:</strong> 1300-800-668</p>