<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Event Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="logo-area">
        <img src="{{ url_for('static', filename='img_mmu.png') }}" alt="MMU Logo" class="logo"/>
        <span class="win">MMU<span class="pass">Sync</span></span>
      </div>
      <div class="user-icon">
        {% if 'mmu_id' in session %}
        <form action="{{ url_for('logout') }}" method="POST">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    {% else %}
        <a href="{{ url_for('login_users') }}">
            <img src="{{ url_for('static', filename='img_user.png') }}" alt="User Icon" class="user-avatar">
        </a>
    {% endif %}
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('student_profile') }}">Student Profile</a></li>
        <li><a href="{{ url_for('booth_info') }}">Booth Information</a></li>
        <li><a href="{{ url_for('digital_ticket') }}">Digital Ticket View</a></li>
        <li><a href="{{ url_for('pre_registration_page') }}">Photobooth</a></li>
      </ul>
    </nav>
  </header>

  <div class="main-container">
    <aside class="sidebar">
      <h2>Search Events</h2>
      <input type="text" placeholder="Search..." />
      <h3>Dates</h3>
      <label><input type="radio" name="date"> Tomorrow</label><br>
      <label><input type="radio" name="date"> This Weekend</label><br>
      <input type="date" />
      <label class="event-checkbox-label"> <input type="checkbox" class="event-checkbox" />Online</label>
      <h3>Branches</h3>
      <select><option>Select branches</option></select>
      <h3>Themes</h3>
      <select><option>Select themes</option></select>
      <h3>Categories</h3>
      <select><option>Select categories</option></select>
    </aside>

     <main class="events">
      <div class="events-header">
        <h1>Events</h1>
      </div>
    </main>
  </div>
</body>
</html>
   