<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
          <div class="logo-area">
            <img src="{{ url_for('static', filename='img/img_mmu.png') }}" alt="MMU Logo" class="logo"/>
            <span class="win">WIN<span class="pass">pass</span></span>
          </div>
        </div>
    </header>
    <section class="Register">
        <form name="pre-registration-form" action="/Pre_Registration_page" method="post" enctype="multipart/form-data">
            <label>Name</label>
            <input name="student-name" type="text" placeholder="Enter your name" required>
            <label>ID number</label>
            <input name="ID" type="text" placeholder="Enter your student ID" required>
            <label>Email address</label>
            <input name="email-address" type="email" placeholder="Enter your email address" required>
            <label>Phone number</label>
            <input name="phone-number" type="text" placeholder="Enter your phone number" required>
            <label>upload picture</label>
            <input type="file" name="filename" required>
            <input type="submit">
        </form>
    </section>
</body>
</html>