<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checklist</title>
</head>
<body>
    <section class="Checklist">
        <form name="register-checklist" action="/Checklist_page" method="post">
            <h1>Welcome to MMU!</h1>
            <h4>Follow these steps. Tick only after you're done</h4>
            <label><input type="text" name="ID">Student ID</label>
            <br>
            <label><input type="checkbox" name="goodies_status">Goodies</label>
            <br>
            <label><input type="checkbox" name="badge_status">Badge</label>
            <br>
            <label><input type="checkbox" name="ticket_status">Ticket</label>
            <br>
            <input type="submit">
        </form>
    </section>
</body>
</html>