<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checklist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
    <header>
    <div class="top-bar">
        <div class="logo-area">
        <img src="{{ url_for('static', filename='img_mmu.png') }}" alt="MMU Logo" class="logo"/>
        <span class="win">WIN<span class="pass">pass</span></span>
        </div>
    </div>
    <nav>
        <ul>
        <li><a href="{{ url_for('admin_page') }}">Admin Page</a></li>
        <li><a href="{{ url_for('scan_goodies') }}">Update Goodies</a></li>
        <li><a href="{{ url_for('scan_badge') }}">Update Badge</a></li>
        </ul>
    </nav>
    </header>
    <section class="Checklist">
        <form name="register-checklist" action="/Checklist_page" method="post">
            <h1>Welcome to MMU!</h1>
            <h4>Tick only after you're done</h4>
            <label>Student ID :<input type="text" name="ID" required></label>
            <br>
            <label><input type="checkbox" name="goodies_status" value="collected">Goodies</label>
            <br>
            <label><input type="checkbox" name="badge_status" value="collected">Badge</label>
            <br>
            <label><input type="checkbox" name="ticket_status" value="collected">Ticket</label>
            <br>
            <input type="submit">
        </form>
    </section>
</body>
</html>