<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WINpass</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="logo-area">
        <img src="{{ url_for('static', filename='img_mmu.png') }}" alt="MMU Logo" class="logo"/>
        <span class="win">WIN<span class="pass">pass</span></span>
      </div>
      <div class="user-icon">
        <a href="{{ url_for('login_users') }}">
        <img src="{{ url_for('static', filename='img_user.png') }}" alt="User Icon"  class="user-avatar">
        </a>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('student_profile') }}">Student Profile</a></li>
        <li><a href="{{ url_for('booth_info') }}">Booth Information</a></li>
        <li><a href="{{ url_for('digital_ticket') }}">Digital Ticket View</a></li>
        <li><a href="{{ url_for('photobooth_page') }}">Photobooth</a></li>
      </ul>
    </nav>
  </header>

  <section class="profile-section">
    <h2>STUDENT PROFILE</h2>
    <div class="avatar">
      <img src="{{ url_for('static', filename='img_user.png') }}" alt="User Icon">
    </div>

   
  </body>
  </html>